/* common shared style */
body{
    font-family: "Lato", sans-serif;
}
.text-primary{
    color: #fd6e0a;
}
/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0vw 2vw;

}
nav>h2{
    font-size: 30px;
    font-weight: 700;
}
nav>li{
    text-decoration: none;
}
nav li>a{
    color: #474747;
    text-decoration: none;
    font-size: 18px;
}
li{
    display: flex;
    display: inline;
    align-items: center;
    margin-right: 30px;
    justify-content: center;
}
.btn-primary{
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 600;
    background-color: #fd6e0a;
    border: 0px;
    color: white;
    border-radius: 5px;
}
.btn-secondary{
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 600;
    background-color: #fd6f0a00;
    border: 1px solid;
    color: fd6e0a;
    border-radius: 5px;
}
/* Header related Style */
.header{
    background-color: #fff8f3;
}
.banner{
    display: flex;
    padding: 30px 30px 30px 150px;
}
.banner .profile-pic{
    width: 500px;
}